body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    padding: 40px;
    color: #333;
}

.container {
    background: white;
    max-width: 650px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.upload-box {
    border: 2px dashed #3498db;
    padding: 30px;
    margin: 30px 0;
    border-radius: 15px;
    background-color: #f9fcff;
}

button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

#result-area {
    margin-top: 30px;
    display: none;
    text-align: left;
}

.color-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid white;
}

.palette-list, 
.suggest-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.palette-item {
    background: white;
    margin: 8px 0;
    padding: 12px;
    border-radius: 12px;
    border-left: 20px solid #3498db;
    font-weight: 500;
}

.suggest-list li {
    background: #fff;
    margin: 8px 0;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.07);
}
#displayImage {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
     display: block;
    margin: 0 auto;
}
